<div class="container mt-5">
    <h3>Aperte a tecla "UP" para começar a jogar!</h3>
    <div class="row">
        <div class="col">
            <div id="jogo"></div>
        </div>
    </div>
</div>
<input type="hidden" id="_csrf" value="<%= _csrf %>">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/jogo/trex.js"></script>